.product-slider {
    margin-bottom: 50px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: solid black 1px;
    margin-bottom: 20px;

    h2 {
      font-size: 50px;
      line-height: 1;
      font-weight: normal;
    }
    p {
      font-size: 14px;
      align-self: end;

      @include media($sm-phone) {
        display: none;
      }
    }
  }

  &__box {
    display: flex;
    padding-bottom: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    &-hover{
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 90%;
      height: 90%;
      transition: all 5s;

      a{
        font-size: 18px;
        font-weight: normal;
        padding: 15px 20px;
        background-color: #FFBCBC;
        transition: all 0.5s;
        &:hover{
          filter: brightness(0.8);
        }
      }
    }
    &:hover .product-slider__item-hover{
      display: flex;
      
    }
    &:hover img{
      filter: brightness(0.5)
    }

    img {
      position: relative;
      width: 90%;
      margin-bottom: 20px;
      transition: all 0.7s;
    }

    &-title {
      line-height: 1;
      text-transform: uppercase;
      font-size: 18px;
    }

    &-price {
      position: relative;
      font-size: 16px;
      &::before {
        content: '₴';
        font-size: 12px;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 5px;
        transform: translate(-50%, -50%);
      }
    }
  }
}
