// breakpoints
$sm-phone: 500px;
$phone: 576px;
$tablet: 768px;
$notebook: 992px;
$desctop: 1200px;

// colors
$main-color: #000;
$sub-color: #383838;
$grey-color: #AABAD0;
$pink-color: #FFBCBC;

// font-sizes
