<<<<<<< HEAD
@import "./fonts";
@import "./vars";
@import "./container_center";
@import "./mixins";
@import "./header";
@import "./poster";
@import "./burger";
@import "./catalog";
@import "./slide";
=======
@import './fonts';
@import './vars';
@import './container_center';
@import './mixins';
@import './header';
@import './poster';
@import './burger';
@import './catalog';
>>>>>>> 2ed9ae967ee9568f35cf0280fbc499f55884991e

*,
ul,
li,
a,
p,
span {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

<<<<<<< HEAD
 *, ul, li, a, p, h2, h3, span{
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    &::selection{
        background-color: rgb(221, 220, 220);

    }
=======
  &::selection {
    background-color: rgb(221, 220, 220);
  }
>>>>>>> 2ed9ae967ee9568f35cf0280fbc499f55884991e
}

body {
  color: $main-color;
  font-family: 'Jost', sans-serif;
  background-color: #4e4e4e;
}
